@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family = Dosis & display = swap");
@import url("https://fonts.googleapis.com/css2? family = Montserrat: wght @ 300 & display = swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
* {
  margin: 0%;
  padding: 0%; }

/*bucle footer*/
.logo-redes {
  background-color: #0460D9; }

.logo-redes {
  background-color: #0460D9; }

.logo-redes {
  background-color: #0460D9; }

/*bucle formulario seccion contacto*/
.form-label {
  font-weight: bolder; }

.form-label {
  font-weight: bolder; }

.form-label {
  font-weight: bolder; }

.form-label {
  font-weight: bolder; }

/*bucle seccion instalaciones*/
.caja-maquinas {
  background-color: #0460D9;
  border-color: transparent;
  margin-top: 0; }
  .caja-maquinas img {
    width: 60%;
    margin: 4vh;
    margin-left: 20%;
    border-radius: 20%; }
  .caja-maquinas p {
    font-size: 1.3em;
    color: black;
    font-family: 'Dosis', sans-serif; }

.caja-maquinas {
  background-color: #0460D9;
  border-color: transparent;
  margin-top: 0; }
  .caja-maquinas img {
    width: 60%;
    margin: 4vh;
    margin-left: 20%;
    border-radius: 20%; }
  .caja-maquinas p {
    font-size: 1.3em;
    color: black;
    font-family: 'Dosis', sans-serif; }

.caja-maquinas {
  background-color: #0460D9;
  border-color: transparent;
  margin-top: 0; }
  .caja-maquinas img {
    width: 60%;
    margin: 4vh;
    margin-left: 20%;
    border-radius: 20%; }
  .caja-maquinas p {
    font-size: 1.3em;
    color: black;
    font-family: 'Dosis', sans-serif; }

/*bucle para h3 dónde estamos?*/
.donde-estamos {
  color: #033E8C;
  padding: 6vh;
  letter-spacing: 10px;
  font-size: 2.5em;
  font-weight: bolder;
  text-transform: uppercase; }

.donde-estamos {
  color: #033E8C;
  padding: 6vh;
  letter-spacing: 10px;
  font-size: 2.5em;
  font-weight: bolder;
  text-transform: uppercase; }

.donde-estamos {
  color: #033E8C;
  padding: 6vh;
  letter-spacing: 10px;
  font-size: 2.5em;
  font-weight: bolder;
  text-transform: uppercase; }

nav {
  background-color: #022859;
  height: 8vh; }

.navA .nav-item {
  text-transform: uppercase; }
  .navA .nav-item:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease; }
  .navA .nav-item:hover:after {
    width: 100%;
    background: white; }
  .navA .nav-item .nav-link {
    text-decoration: none;
    font-size: 2.2rem; }
    .navA .nav-item .nav-link:hover {
      color: whitesmoke; }

#divMenu {
  display: flex; }

.divLogo {
  width: 12%; }
  .divLogo img {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 0px; }

.cajaNav {
  width: 100%; }

.cajaNav__lista {
  list-style: none;
  font-family: 'Comic Neue', cursive;
  font-size: 0.5em;
  color: lightgray; }
  .cajaNav__lista .cajaNav__hielosNav {
    font-family: 'Comic Neue', cursive;
    font-size: 3em;
    font-weight: bold;
    color: lightgray;
    margin-top: 4px; }

.cajaNav__info {
  font-family: 'Comic Neue', cursive;
  font-size: 1.7em;
  color: lightgray; }
  .cajaNav__info span {
    font-size: 2.5vh;
    margin-right: 1vh;
    margin-bottom: 2vh; }

.carousel-inner {
  width: 100%;
  height: 600px; }

.boton {
  background-color: #022859;
  border-color: lightgray;
  padding: 1vh; }
  .boton a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em; }

/*Mobile first*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  nav {
    height: 50vh; }
    nav .navA {
      background-color: #022859;
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 300px;
      margin-top: 1vh;
      padding: 4vh 10vh 4vh 30vh; }
      nav .navA .nav-item .nav-link {
        font-size: 1em;
        color: white;
        line-height: 1.8em; }
  .botonFotos {
    display: none; }
  .divLogo {
    width: 50%;
    margin: 0; }
    .divLogo img {
      margin-top: 0px; }
  #divMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 0 1vh;
    margin: 0; }
  .navA .nav-item .nav-link {
    font-size: 0.5em; }
  .cajaNav__hielosNav {
    font-size: 0.9em;
    font-weight: bold; }
  .carousel-inner {
    height: 100px; } }

@media screen and (min-width: 441px) and (max-width: 768px) {
  nav {
    height: 50vh; }
    nav .navA {
      background-color: #022859;
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 300px;
      margin-top: 1vh;
      padding: 4vh 10vh 4vh 40vh; }
      nav .navA .nav-item .nav-link {
        font-size: 1em;
        color: white; }
  .botonFotos {
    display: none; }
  .divLogo {
    width: 30%;
    margin: 0; }
    .divLogo img {
      margin-top: 0px; }
  #divMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .cajaNav__hielosNav {
    font-size: 1em; }
  .titulo__quienes {
    padding: 1vh; }
  .carousel-inner {
    height: 40%; } }

@media screen and (min-width: 511px) and (max-width: 613px) {
  .divLogo {
    width: 30%; } }

@media screen and (min-width: 614px) and (max-width: 768px) {
  .divLogo {
    width: 20%; }
  img {
    width: 100%; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  nav {
    height: 40vh; }
    nav .navA {
      background-color: #022859;
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 400px;
      margin-top: 1vh;
      padding: 10vh 20vh 5vh 24vh; }
      nav .navA .nav-item .nav-link {
        font-size: 1.3em;
        margin-left: 30%;
        color: white; }
  .divLogo {
    width: 10%;
    margin: 0; }
    .divLogo img {
      margin-top: 0px;
      margin-left: 10%;
      width: 100%; }
  .cajaNav {
    margin-right: 20%; }
  #divMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .titulo__quienes {
    padding: 2vh; }
  .carousel-inner {
    height: 40%; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  nav {
    height: 28vh; }
    nav .navA .nav-item .nav-link {
      font-size: 1em;
      margin-left: 5px;
      margin-right: 50px;
      padding-right: 50%; }
  .divLogo {
    width: 30%; }
    .divLogo img {
      margin-top: 0px;
      margin-left: 10%;
      width: 100%; }
  .cajaNav__hielosNav {
    font-size: 1em; } }

@media screen and (min-width: 1201px) {
  nav {
    height: 17vh; }
  .navA .nav-item .nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-size: 1.2em;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    font-weight: 300;
    text-transform: uppercase;
    background: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s; }
  .nav-link:hover .nav-link:focus {
    background-size: 100% 2px; }
  #divMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .divLogo img {
    width: 100%;
    margin-left: 2vh;
    margin-bottom: 1vh; }
  .cajaNav {
    margin-right: 20%;
    margin-top: 2vh; }
  .cajaNav__hielosNav {
    font-size: 1.4em; } }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: white; }

h1 {
  font-size: 3em;
  font-weight: bold; }

h4 {
  font-family: monospace;
  font-size: 0.7em;
  background-color: black;
  color: white;
  letter-spacing: 2px; }
  h4 a {
    text-decoration: none;
    color: white; }

.carousel-inner {
  height: 600px; }

.carousel-item {
  height: 50%; }
  .carousel-item img {
    width: 100%;
    height: 700px; }

.encabezado__tituloEncabezado {
  margin-left: 54%;
  margin-bottom: 80px;
  width: 60%;
  font-size: 2.5em;
  font-family: monospace;
  color: #022859;
  font-weight: bolder;
  text-transform: uppercase;
  box-shadow: 0.5em 1em 1em #C7F8FD; }

.tituloFoto2 {
  font-family: 'Comic Neue', cursive;
  color: whitesmoke;
  margin-bottom: 10%;
  margin-left: 10%;
  font-weight: bolder;
  font-size: 3em;
  text-shadow: 4px 3px 2px #022859, 0 0em 2em #A3BFD9, 0 0 2em #A3BFD9; }

.textoFoto .tituloFoto3 {
  font-family: monospace;
  color: whitesmoke;
  font-weight: bolder;
  width: 100%;
  font-style: italic;
  margin-bottom: 160px;
  margin-right: 60%;
  font-size: 2.5em;
  text-shadow: 1px 4px 2px #033E8C, 0 0 2em #A3BFD9, 0 0 0.2em #A3BFD9; }

.textoEncabezado {
  margin-right: 70%; }

.nosotrosMision {
  background-color: #022859;
  color: white;
  font-family: 'Comic Neue', cursive;
  line-height: 2em;
  font-size: 1.1em; }
  .nosotrosMision a {
    text-decoration: none;
    color: lightblue; }

.nosotrosMision__titulo {
  color: white;
  font-family: 'Handlee', cursive;
  font-size: 2em; }

/*seccion productos*/
.titulo-central {
  padding: 4vh;
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  color: #022859;
  font-size: 2.5em; }

.tituloDonde {
  color: #033E8C;
  font-size: 2em;
  padding: 10vh;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1vh;
  font-weight: bold; }

.cajaVenta {
  background-color: white;
  padding: 14vh;
  /*.cajaVenta__imgVenta:hover {
        transform: scale(1.02,1.02);
    }*/ }
  .cajaVenta .cajaImg {
    background-color: white;
    border-color: transparent; }
  .cajaVenta .cajaVenta__imgVenta {
    width: 50%;
    margin-left: 22%;
    padding: 4vh;
    border-radius: 1vh;
    box-shadow: 0 0.7em 0.8em #022859; }
  .cajaVenta .cajaVenta__titulos {
    color: #022859;
    background-color: white;
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
    margin-left: 10%; }

.imgProducto {
  margin-left: 25%;
  border-radius: 50%;
  box-shadow: 0 0 1em #022859; }

.cajaGrande {
  background-color: white; }

.cajaProducto {
  background-color: white;
  border-color: transparent; }
  .cajaProducto .cajaProducto__titulo {
    color: #022859;
    font-weight: bold;
    font-size: 1.6em;
    font-family: 'Comic Neue', cursive; }
  .cajaProducto .cajaProducto__texto {
    color: #022859;
    font-family: 'Comic Neue', cursive;
    font-size: 1.2em; }

/*termina productos*/
/*seccion instalaciones*/
.textoInstalaciones {
  font-family: "Dosis", sans-serif;
  font-size: 1.3em; }

.tituloMaquinas {
  color: #033E8C;
  padding: 3vh;
  margin-bottom: 0;
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 3em; }

.textoMaquinas {
  font-family: 'Comic Neue', cursive;
  font-size: 1.2em;
  font-weight: 500; }

.caja-maquinas {
  background-color: white; }
  .caja-maquinas img {
    box-shadow: 0 0 1em #0d0d47; }

.tituloInstalaciones {
  font-family: 'Comic Neue', cursive;
  font-size: 3em;
  width: 100%;
  margin-top: 20%;
  padding-top: 30px;
  text-align: center;
  text-shadow: 1px 4px 2px #033E8C, 0 0 2em #A3BFD9, 0 0 0.2em #A3BFD9; }

.textoFotoInst {
  font-family: 'Comic Neue', cursive;
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 2%;
  margin-left: 14%;
  background-color: #203864; }

.textoBis {
  font-family: 'Comic Neue', cursive;
  font-size: 2.5em;
  width: 80%;
  margin-bottom: 10%;
  background-color: #203864; }

.textoFoto2 {
  font-family: 'Comic Neue', cursive;
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 6%;
  padding: 8%;
  text-shadow: 1px 4px 2px #033E8C, 0 0 2em #A3BFD9, 0 0 0.2em #A3BFD9; }

/*seccion distribución*/
.tituloCiudades {
  padding: 10vh;
  text-transform: uppercase;
  letter-spacing: 1vh;
  line-height: 3.2em; }
  .tituloCiudades h2 {
    color: #033E8C;
    font-size: 2.5em; }
  .tituloCiudades p {
    letter-spacing: normal;
    color: #033E8C;
    font-size: 1.3em; }

.textoVehiculos {
  font-family: 'Comic Neue', cursive;
  font-size: 1.5em;
  font-weight: 400;
  color: black;
  margin-left: 3vh; }

mark {
  font-style: italic;
  font-weight: bolder; }

.cajaCiudades {
  background-color: white; }

.ciudades {
  border-color: transparent;
  height: 100%;
  background-color: white; }
  .ciudades img {
    width: 75%;
    margin-left: 15%;
    border-radius: 50%;
    box-shadow: 0 0 2em black; }
  .ciudades img:hover {
    transform: scale(1.02, 1.02); }
  .ciudades h3 {
    color: #022859; }

.cajaConsulta {
  background-color: #022859;
  padding: 20vh 8vh 0vh 8vh;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: row; }
  .cajaConsulta .imgJugo img {
    width: 600px;
    border-radius: 50%; }
  .cajaConsulta h3 {
    color: white;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em; }
  .cajaConsulta p {
    font-size: 1.7em;
    margin-top: 2vh; }
  .cajaConsulta .btn {
    margin-top: 4vh; }
  .cajaConsulta .cajaConsulta__info {
    font-family: 'Comic Neue', cursive; }

.camiones {
  width: 100%;
  box-shadow: 1em 0em 1em gray; }

.distribucion {
  display: flex;
  flex-direction: row;
  padding: 4vh; }

/*termina seccion distribucion*/
/*seccion contacto*/
.formulario {
  background-color: transparent;
  background-image: url("../imagenes/Background.png");
  background-size: cover;
  width: 100%;
  padding: 0vh 40vh 4vh 40vh;
  margin-top: 0; }
  .formulario .formulario__botonEnviar {
    margin-left: 40%;
    padding: 2vh 2vh;
    width: 20%;
    font-size: 1.2em; }
  .formulario textarea {
    margin-left: 25%; }
  .formulario label {
    font-size: 1.3em; }

/*termina seccion contacto*/
/*seccion 404error*/
.error {
  background-color: #0460D9; }
  .error h1, .error h2 {
    text-align: center;
    font-size: 2.5em;
    line-height: 1.5em;
    font-family: 'Handlee', cursive; }
  .error img {
    width: 20vh;
    margin-left: 45%; }

.ayuda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #A3BFD9; }
  .ayuda img {
    width: 100%; }
  .ayuda .tituloAyuda {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 3em;
    line-height: 1.5em; }
  .ayuda .botonError {
    background-color: #022859;
    margin: 2vh 0vh 2vh 36vh;
    padding: 3vh; }
    .ayuda .botonError a {
      color: lightgray;
      text-decoration: none;
      font-family: 'Handlee', cursive;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1em; }

/*termina seccion 404error*/
/*mobile first*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  .donde-estamos {
    letter-spacing: 5px;
    font-size: 1.5em;
    padding: 1vh; }
  .carousel-inner {
    height: 300px;
    z-index: 0;
    position: relative; }
  .carousel-item img {
    width: 100px;
    height: 300px; }
  .encabezado__tituloEncabezado {
    margin-right: 10%;
    margin-bottom: -28%;
    width: 70%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10% 10% 10% 10%; }
  .imgCuchara {
    width: 60%;
    margin-left: 10%; }
  .tituloMaquinas {
    font-size: 1.8em; }
  .tituloFoto2 {
    font-family: 'Comic Neue', cursive;
    color: whitesmoke;
    margin-bottom: 6%;
    border-radius: 10%;
    margin-left: 8%;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: 2px 3px 2px #022859, 0 0em 2em #A3BFD9, 0 0 2em #A3BFD9; } }

.textoFoto .tituloFoto3 {
  margin-bottom: 26%;
  font-size: 1.2em;
  background-image: none;
  color: white;
  text-transform: uppercase;
  margin-right: 20%; }

@media screen and (min-width: 441px) and (max-width: 768px) {
  .donde-estamos {
    font-size: 1.7em; }
  .carousel-inner {
    z-index: 0;
    height: 300px;
    position: relative; }
  .carousel-item img {
    width: 100px;
    height: 300px; }
  .encabezado__tituloEncabezado {
    margin-right: 90%;
    margin-bottom: -20%;
    width: 60%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10% 10% 10% 10%; }
  .imgCuchara {
    width: 50%;
    margin-left: 10%; }
  #fotoVaso {
    width: 50%;
    margin-left: 10%; }
  .tituloFoto2 {
    font-family: 'Comic Neue', cursive;
    color: whitesmoke;
    margin-bottom: 10%;
    margin-left: 10%;
    border-radius: 10%;
    font-weight: bolder;
    font-size: 1.7em;
    text-shadow: 4px 3px 2px #022859, 0 0em 2em #A3BFD9, 0 0 2em #A3BFD9; }
  .textoFoto .tituloFoto3 {
    margin-bottom: 20%;
    font-size: 1.2em;
    background-image: none;
    color: white;
    text-transform: uppercase;
    margin-right: 20%; } }

@media screen and (min-width: 630px) and (max-width: 768px) {
  .textoFoto .tituloFoto3 {
    margin-bottom: 14%;
    font-size: 1.2em;
    background-image: none;
    color: white;
    text-transform: uppercase;
    margin-right: 20%; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .donde-estamos {
    font-size: 1.8em; }
  .carousel-inner {
    z-index: 0;
    height: 400px;
    position: relative; }
  .encabezado__tituloEncabezado {
    margin-right: 90%;
    margin-bottom: -26%;
    width: 60%;
    font-size: 1.7em;
    font-weight: bold;
    padding: 10% 10% 10% 10%; }
  .tituloFoto2 {
    margin-bottom: -4%;
    font-size: 2em; }
  .textoFoto .tituloFoto3 {
    margin-bottom: 10%;
    font-size: 2em;
    background-image: none;
    color: white;
    text-transform: uppercase;
    margin-right: 20%; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .textoFoto .tituloFoto3 {
    font-size: 2.5em; } }

@media screen and (min-width: 1201px) {
  .textoFoto .tituloFoto3 {
    margin-bottom: 20%;
    font-size: 2.5em; } }

/*mobile instalaciones*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  .titulo-central {
    font-size: 1.7em;
    padding: 3vh; }
  .tituloInstalaciones {
    font-size: 1.7em;
    margin-bottom: -4%;
    margin-top: 0%;
    padding-top: 0px; }
  .textoFotoInst {
    font-size: 1em;
    margin-bottom: 2%;
    margin-left: 10%; }
  .textoBis {
    font-size: 1em;
    margin-bottom: -6%;
    margin-top: 4%;
    width: 100%; }
  .textoFoto2 {
    font-size: 1em;
    margin-bottom: 14%;
    padding: 8%; } }

@media screen and (min-width: 441px) and (max-width: 768px) {
  .tituloMaquinas {
    font-size: 2em; }
  .donde-estamos {
    letter-spacing: normal; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .tituloInstalaciones {
    font-size: 2.5em;
    margin-bottom: -16%; }
  .textoFotoInst {
    font-size: 2em;
    margin-bottom: -4%;
    margin-left: 14%; }
  .textoBis {
    font-size: 2em;
    margin-bottom: -10%;
    margin-top: 8%; }
  .textoFoto2 {
    font-size: 2em;
    margin-bottom: 2%; } }

/*mobile productos*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  .tituloDonde {
    padding: 4vh;
    letter-spacing: 1vh;
    line-height: 1.5em;
    font-size: 1.5em;
    margin: 0; }
  .cajaVenta .cajaVenta__titulos {
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
    margin-left: 4px; }
  .cajaImg .cajaVenta__imgVenta {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 4%;
    padding: 1vh; }
  .donde-estamos {
    padding: 2vh; } }

@media screen and (min-width: 441px) and (max-width: 768px) {
  .cajaVenta .cajaVenta__titulos {
    font-size: 1.3em;
    text-align: center;
    margin-left: 0; } }

/*mobile distribucion*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  .cajaConsulta {
    line-height: 1vh;
    padding: 6vh 4vh 0vh 4vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
    .cajaConsulta .imgJugo img {
      width: 70%;
      margin-bottom: 0px;
      margin-top: 20px;
      box-shadow: 0em 0em 1em black; }
    .cajaConsulta .imgJugo .mojito {
      display: none; }
    .cajaConsulta h3 {
      font-size: 1.2em;
      padding: 0; }
    .cajaConsulta p {
      font-size: 1em; }
    .cajaConsulta .cajaConsulta__info {
      margin-top: 0px;
      margin-bottom: 10px; }
  .distribucion {
    display: grid;
    grid-template-areas: 1000px 1000px; }
  .textoVehiculos {
    font-size: 1em; }
  .tituloCiudades {
    padding: 0; }
    .tituloCiudades h2 {
      font-size: 1.7em; }
    .tituloCiudades p {
      font-size: 1em; } }

@media screen and (min-width: 441px) and (max-width: 768px) {
  .distribucion {
    display: grid;
    grid-template-areas: 1000px 1000px; }
  .textoVehiculos {
    font-size: 0.9em; }
  .tituloCiudades {
    padding: 0; }
    .tituloCiudades h2 {
      font-size: 1.7em; }
    .tituloCiudades p {
      font-size: 1em; }
  .cajaConsulta {
    line-height: 1vh;
    padding: 6vh 4vh 0vh 4vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
    .cajaConsulta .imgJugo img {
      width: 40%;
      margin-bottom: 0px;
      margin-top: 20px;
      box-shadow: 0em 0em 1em black; }
    .cajaConsulta .imgJugo .mojito {
      display: none; }
    .cajaConsulta h3 {
      font-size: 1.2em;
      padding: 0; }
    .cajaConsulta p {
      font-size: 1.1em; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .distribucion {
    display: grid;
    grid-template-areas: 1000px 1000px; }
  .camiones {
    width: 50%;
    margin-left: 25%; }
  .cajaConsulta {
    line-height: 1vh;
    padding: 18vh 4vh 0vh 4vh;
    height: 500px; }
    .cajaConsulta .imgJugo img {
      width: 100%;
      box-shadow: 0em 0em 1em black; }
    .cajaConsulta h3 {
      font-size: 1.2em;
      padding: 0; }
    .cajaConsulta p {
      font-size: 1.1em; } }

/*mobile contacto*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  h1 {
    font-size: 2em; }
  .formulario {
    padding: 8vh; }
    .formulario .formulario__botonEnviar {
      margin-left: 25%;
      padding: 4vh 2vh;
      width: 50%;
      font-size: 1em; }
    .formulario textarea {
      margin-left: 0; }
    .formulario label {
      font-size: 1em; } }

@media screen and (min-width: 441px) and (max-width: 768px) {
  .formulario {
    padding: 8vh; }
    .formulario label {
      font-size: 1.2em; }
    .formulario .formulario__botonEnviar {
      margin-left: 25%;
      padding: 4vh 2vh;
      width: 50%;
      font-size: 1em; }
    .formulario textarea {
      margin-left: 0; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .formulario {
    padding: 4vh; }
    .formulario label {
      font-size: 1.2em; }
    .formulario .formulario__botonEnviar {
      font-size: 1em;
      width: 50%;
      margin-left: 25%; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .formulario label {
    font-size: 1em; }
  .formulario .formulario__botonEnviar {
    margin-left: 25%;
    padding: 2vh 2vh;
    width: 50%;
    font-size: 1em; } }

.imgFooter {
  width: 20%;
  margin-left: 30%; }

.logo-redes {
  padding: 1vh;
  background-color: #476b99;
  border-radius: 2vh;
  border-style: solid;
  border-color: black;
  width: 8vh;
  margin-top: 2em;
  margin-left: 46%; }

.logo-redes:hover {
  transform: scale(1.1, 1.1); }

.logosFooter {
  display: flex;
  flex-direction: column; }

#footerDiv1, #footerDiv2, #footerDiv3 {
  background-color: #022859;
  color: lightgray;
  padding: 12vh 4vh 2vh 4vh;
  border-radius: 0%;
  border-color: #022859;
  height: 500px; }
  #footerDiv1 p span, #footerDiv2 p span, #footerDiv3 p span {
    font-size: 1.6em;
    margin-right: 1vh; }

#footerDiv2 ul li {
  background-color: #022859;
  border-color: transparent; }
  #footerDiv2 ul li a {
    text-decoration: none;
    color: lightgray; }

#footerDiv2 h4 {
  font-size: 1.7em;
  font-family: sans-serif;
  font-weight: bold; }

#footerDiv3 h4 {
  font-size: 1.7em;
  background-color: #022859;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  margin-top: 14px; }

.menuFooter {
  background-color: #022859;
  font-size: 1em;
  font-family: "Dosis", sans-serif;
  letter-spacing: normal; }

h5 {
  font-family: 'Comic Neue', cursive;
  font-size: 0.7em;
  background-color: #203864;
  color: white;
  letter-spacing: 1px; }
  h5 a {
    text-decoration: none;
    color: white; }
  h5 a:hover {
    color: #8f8d8d;
    font-weight: bold; }

/*mobile first*/
@media screen and (min-width: 360px) and (max-width: 440px) {
  .logosFooter {
    display: grid;
    grid-template-columns: 33% 33% 33%; }
  .logo-redes {
    margin-top: 12vh; }
  .imgFooter {
    width: 24%;
    margin-left: 10%;
    margin-top: 8%;
    height: 50%; }
  .textoFooter {
    margin-top: 4%; }
  h4 {
    font-size: 0.5em; }
  #footerDiv1, #footerDiv2, #footerDiv3 {
    padding: 0;
    height: 260px; }
  #footerDiv2 {
    height: 300px; }
  #footerDiv1 {
    display: flex;
    flex-direction: row;
    padding-top: 3vh; } }

@media screen and (min-width: 441px) and (max-width: 768px) {
  .imgFooter {
    width: 24%;
    margin-left: 10%;
    margin-top: 12%;
    height: 50%; }
  .textoFooter {
    margin-top: 0%; }
  .logosFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .logo-redes {
    margin-top: 3.2em;
    margin-bottom: 0; }
  #footerDiv1, #footerDiv2, #footerDiv3 {
    padding: 0;
    height: 260px; }
  #footerDiv2 {
    height: 300px; }
  #footerDiv1 {
    display: flex;
    flex-direction: row; }
  .textoFooter {
    margin-top: 10%; } }

@media screen and (min-width: 600px) and (max-width: 768px) {
  .imgFooter {
    width: fit-content; } }

@media screen and (min-width: 769px) and (max-width: 991px) {
  .logosFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .textoFooter {
    margin-top: 4%; }
  .logo-redes {
    margin-top: 3em;
    margin-bottom: 0;
    width: 10vh; }
  .imgFooter {
    margin-left: 10%;
    margin-top: 2%;
    width: fit-content; }
  #footerDiv1, #footerDiv2, #footerDiv3 {
    padding: 0;
    height: 220px; }
  #footerDiv1 {
    display: flex;
    flex-direction: row; }
  #footerDiv2 {
    height: 300px; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .logo-redes {
    margin-right: 0em;
    margin-left: 11em;
    margin-top: 1em;
    margin-bottom: 1em; }
  #footerDiv2 {
    padding-left: 0;
    padding-right: 0; }
    #footerDiv2 h4 {
      font-size: 1.4em;
      font-family: sans-serif;
      font-weight: bold; }
    #footerDiv2 .list-group .list-group-item a {
      font-size: 1em; }
  #footerDiv1, #footerDiv2, #footerDiv3 {
    height: 400px;
    border-color: #022859; } }
