* {
    margin:0px;
    padding:0px
}
body {
    background-color: white;
}
h1 {
    font-size:3em;
    font-weight:bold
}
h4 {
    font-family: $font-a;
    font-size:0.7em;
    background-color:black;
    color:white;
    letter-spacing:2px;
    a {
        text-decoration: none;
        color:white
    }
}

.carousel-inner {
    height:600px
}
.carousel-item {
    height:50%;
    img {
        width:100%;
        height:700px;
    }
}
.encabezado__tituloEncabezado {
    margin-left:54%;
    margin-bottom:80px;
    width:60%;
    font-size:2.5em;
    font-family: monospace;
    color: $fondo-nosotros;
    font-weight: bolder;
    text-transform:uppercase;
    box-shadow: 0.5em 1em 1em #C7F8FD;
}
.tituloFoto2 {
    font-family: 'Comic Neue', cursive;
    color: whitesmoke;
    margin-bottom:10%;
    margin-left:10%;
    font-weight:bolder;
    font-size:3em;
    text-shadow: 4px 3px 2px #022859, 0 0em 2em #A3BFD9, 0 0 2em #A3BFD9;
}
.textoFoto .tituloFoto3 {
    font-family: monospace;
    color: whitesmoke;
    font-weight: bolder;
    width:100%;
    font-style: italic;
    margin-bottom:160px;
    margin-right:60%;
    font-size:2.5em;
    text-shadow: 1px 4px 2px $fondo-footer, 0 0 2em #A3BFD9, 0 0 0.2em #A3BFD9;
}
.textoEncabezado {
    margin-right:70%
}

.nosotrosMision {
    background-color:$fondo-nosotros;
    color:white;
    font-family:'Comic Neue', cursive;
    line-height: $fontSizeBig;
    font-size:1.1em;
    a {
        text-decoration: none;
        color:lightblue
    }
}
.nosotrosMision__titulo {
    color:white;
    font-family: 'Handlee', cursive;
    font-size: $fontSizeBig
}
/*seccion productos*/
.titulo-central {
    padding:4vh;
    font-family: 'Caveat Brush', cursive;
    font-weight:400;
    color:#022859;
    font-size: 2.5em;
}
.tituloDonde {
    color: #033E8C;
    font-size:2em;
    padding:10vh; 
    margin-bottom:0;
    text-transform: uppercase;
    letter-spacing:1vh;
    font-weight:bold;
}
.cajaVenta {
    background-color: white;
    padding:14vh;
    .cajaImg {
        background-color: white;
        border-color:transparent;
    }
    
    .cajaVenta__imgVenta {
        width: $w-50; 
        margin-left:22%;
        padding:4vh;
        border-radius:1vh;
        box-shadow:0 0.7em 0.8em #022859;
    }
    /*.cajaVenta__imgVenta:hover {
        transform: scale(1.02,1.02);
    }*/
    .cajaVenta__titulos {
        color:#022859;
        background-color:white;
        font-size: 1.5em;
        font-family: 'Dosis', sans-serif;
        margin-left:10%
    }
}
.imgProducto {
    margin-left: $w-25;
    border-radius:50%;
    box-shadow:0 0 1em #022859,
}
.cajaGrande {
    background-color:white;
}
.cajaProducto {
    background-color:white;
    border-color:transparent;
    .cajaProducto__titulo {
        color: #022859;
        font-weight:bold;
        font-size:1.6em;
        font-family:'Comic Neue', cursive;
    }
    .cajaProducto__texto {
        color: #022859;
        font-family:'Comic Neue', cursive;
        font-size:1.2em
    }
}
/*termina productos*/

/*seccion instalaciones*/
.textoInstalaciones {
    font-family: $font-texto;
    font-size:1.3em
}
.tituloMaquinas {
    color:#033E8C;
    padding:3vh;
    margin-bottom:0;
    font-family:'Comic Neue', cursive;
    font-weight:bold;
    font-size:3em;    
}
.textoMaquinas {
    font-family:'Comic Neue', cursive;
    font-size:1.2em;
    font-weight:500
}
.caja-maquinas {
    background-color:white;
    img {
        box-shadow: 0 0 1em rgb(13, 13, 71);
    }
}
.tituloInstalaciones {
    font-family: 'Comic Neue', cursive;
    font-size:3em;
    width:100%;
    margin-top:20%;
    padding-top:30px;
    text-align: center;
    text-shadow: 1px 4px 2px $fondo-footer, 0 0 2em #A3BFD9, 0 0 0.2em #A3BFD9;
}
.textoFotoInst {
    font-family:'Comic Neue', cursive;
    font-size:2.5em;
    width:100%;
    margin-bottom:2%;
    margin-left:14%;
    background-color:rgb(32, 56, 100);
}
.textoBis {
    font-family:'Comic Neue', cursive;
    font-size:2.5em;
    width:80%;
    margin-bottom:10%;
    background-color: rgb(32, 56, 100);
}
.textoFoto2 {
    font-family: 'Comic Neue', cursive;
    font-size:2.5em;
    width:100%;
    margin-bottom:6%;
    padding:8%;
    text-shadow: 1px 4px 2px $fondo-footer, 0 0 2em #A3BFD9, 0 0 0.2em #A3BFD9;
}

/*seccion distribución*/
.tituloCiudades {
    padding:10vh;
    text-transform: uppercase;
    letter-spacing:1vh;
    line-height:3.2em;
    h2 {
        color:#033E8C;
        font-size:2.5em;
    }
    p {
        letter-spacing:normal;
        color:#033E8C;
        font-size:1.3em;
    }
}
.textoVehiculos {
        font-family:'Comic Neue', cursive;
        font-size:1.5em;
        font-weight:400;
        color:black;
        margin-left:3vh;
}
mark{
    font-style:italic;
    font-weight:bolder;
}

.cajaCiudades {
    background-color:white;
}
.ciudades {
    border-color:transparent;
    height:100%;
    background-color:white;
    img {
        width:$w-75;
        margin-left: 15%;
        border-radius:50%;
        box-shadow:0 0 2em black;
    }
    img:hover {
        transform: scale(1.02, 1.02)
    }
    h3 {
        color:#022859
    }
}
.cajaConsulta {
    background-color:#022859;
    padding:20vh 8vh 0vh 8vh;
    height:600px;
    color:white;
    display:flex;
    flex-direction:row;
    .imgJugo img {
        width:600px;
        border-radius:50%;
    }
    h3 {
        color:white;
        font-family:'Dosis', sans-serif;;
        text-transform: uppercase;
        font-weight:bold;
        font-size: $fontSizeBig;
        line-height:2em;
    }
    p {
        font-size: 1.7em;
        margin-top:2vh
    }
    .btn {
        margin-top:4vh;
    }
    .cajaConsulta__info {
        font-family:'Comic Neue', cursive;
    }
}
.camiones {
    width: 100%;
    box-shadow:1em 0em 1em gray;
}
.distribucion {
    display:flex;
    flex-direction:row;
    padding:4vh;
}

/*termina seccion distribucion*/

/*seccion contacto*/
.formulario {
    background-color: transparent;
    background-image:url('../imagenes/Background.png');
    background-size:cover;
    width: 100%;
    padding:0vh 40vh 4vh 40vh;
    margin-top:0;
    .formulario__botonEnviar {
        margin-left: 40%;
        padding:2vh 2vh;
        width:20%;
        font-size:1.2em
    }

    textarea {
        margin-left: ($w-100 - 50%) / 2 
    }
    label {
        font-size:1.3em
    }
}
/*termina seccion contacto*/

/*seccion 404error*/
.error {
    background-color:$fondo-nav;
    h1, h2 {
        text-align:center;
        font-size: 2.5em;
        line-height:1.5em;
        font-family: 'Handlee', cursive;
    }
    img {
        width: 20vh;
        margin-left:45%
    }
}
.ayuda {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: $fondo-body;
    img {
        width: $w-100
    }
    .tituloAyuda {
        font-family:'Handlee', cursive;
        text-align:center;
        font-size:3em;
        line-height: 1.5em
    }
    .botonError {
        background-color: $fondo-nosotros;
        margin:2vh 0vh 2vh 36vh;
        padding:3vh;
        a {
            color:lightgray;
            text-decoration:none;
            font-family:'Handlee', cursive;
            text-transform:uppercase;
            font-weight: bold;
            font-size:1em
        }
    }
}

/*termina seccion 404error*/

/*mobile first*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .donde-estamos {
        letter-spacing:5px;
        font-size:1.5em;
        padding:1vh
    }
    .carousel-inner {
        height:300px;
        z-index: 0;
        position:relative;
    }

    .carousel-item img {
        width:100px; 
        height:300px;
    }
    .encabezado__tituloEncabezado {
        margin-right:10%;
        margin-bottom:-28%;
        width:70%;
        font-size:1.2em;
        font-weight: bold;
        padding:10% 10% 10% 10%;
        
    }
    .imgCuchara {
        width:60%;
        margin-left:10%;
    }
    .tituloMaquinas {
        font-size:1.8em
    }
    
    .tituloFoto2 {
        font-family: 'Comic Neue', cursive;
        color: whitesmoke;
        margin-bottom:6%;
        border-radius:10%;
        margin-left:8%;
        font-weight: bolder;
        font-size:1.5em;
        text-shadow: 2px 3px 2px #022859, 0 0em 2em #A3BFD9, 0 0 2em #A3BFD9;
    }
}
.textoFoto .tituloFoto3 {
    margin-bottom:26%;
    font-size:1.2em;
    background-image: none;
    color:white;
    text-transform:uppercase;
    margin-right:20%;
}
@media screen and (min-width:441px) and (max-width: 768px) {
    .donde-estamos {
        font-size:1.7em;
    }
    .carousel-inner {
        z-index: 0;
        height:300px;
        position:relative;
    }
    .carousel-item img {
        width:100px; 
        height:300px;
    }
    .encabezado__tituloEncabezado {
        margin-right:90%;
        margin-bottom:-20%;
        width:60%;
        font-size:1.2em;
        font-weight: bold;
        padding:10% 10% 10% 10%;
    }
    .imgCuchara {
        width:50%;
        margin-left:10%;
    }
    #fotoVaso {
        width:50%;
        margin-left:10%
    }
    .tituloFoto2 {
        font-family: 'Comic Neue', cursive;
        color: whitesmoke;
        margin-bottom:10%;
        margin-left:10%;
        border-radius:10%;
        font-weight: bolder;
        font-size:1.7em;
        text-shadow: 4px 3px 2px #022859, 0 0em 2em #A3BFD9, 0 0 2em #A3BFD9;
    }
    .textoFoto .tituloFoto3 {
        margin-bottom:20%;
        font-size:1.2em;
        background-image: none;
        color:white;
        text-transform:uppercase;
        margin-right:20%;
    }
}
@media screen and (min-width:630px) and (max-width:768px) {
    .textoFoto .tituloFoto3 {
        margin-bottom:14%;
        font-size:1.2em;
        background-image: none;
        color:white;
        text-transform:uppercase;
        margin-right:20%;
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .donde-estamos {
        font-size:1.8em
    }
    .carousel-inner {
        z-index: 0;
        height:400px;
        position:relative;
    }
    .encabezado__tituloEncabezado {
        margin-right:90%;
        margin-bottom:-26%;
        width:60%;
        font-size:1.7em;
        font-weight: bold;
        padding:10% 10% 10% 10%;
    }
    .tituloFoto2 {
        margin-bottom:-4%;
        font-size:2em;
    }
    .textoFoto .tituloFoto3 {
        margin-bottom:10%;
        font-size:2em;
        background-image: none;
        color:white;
        text-transform:uppercase;
        margin-right:20%;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    .textoFoto .tituloFoto3 {
        font-size:2.5em;
    }
}
@media screen and (min-width:1201px) {
    .textoFoto .tituloFoto3 {
        margin-bottom:20%;
        font-size:2.5em;
    }
}
/*mobile instalaciones*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .titulo-central {
        font-size: 1.7em;
        padding:3vh
    }
    .tituloInstalaciones {
        font-size:1.7em;
        margin-bottom:-4%;
        margin-top:0%;
        padding-top:0px;
    }
    .textoFotoInst {
        font-size:1em;
        margin-bottom:2%;
        margin-left:10%;
    }
    .textoBis {
        font-size:1em;
        margin-bottom:-6%;
        margin-top:4%;
        width:100%;
    }
    .textoFoto2 {
        font-size:1em;
        margin-bottom:14%;
        padding:8%;
    }
}
@media screen and (min-width:441px) and (max-width:768px) {
    .tituloMaquinas {
        font-size:2em;
    }
    .donde-estamos {
        letter-spacing:normal;
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .tituloInstalaciones {
        font-size:2.5em;
        margin-bottom:-16%;
    }
    .textoFotoInst {
        font-size:2em;
        margin-bottom:-4%;
        margin-left:14%;
    }
    .textoBis {
        font-size:2em;
        margin-bottom:-10%;
        margin-top:8%;
    }
    .textoFoto2 {
        font-size:2em;
        margin-bottom:2%;
    }
}
/*mobile productos*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .tituloDonde {
        padding:4vh; 
        letter-spacing:1vh;
        line-height:1.5em;
        font-size:1.5em;
        margin:0
    }
    .cajaVenta .cajaVenta__titulos {
        text-align:center;
        font-weight:300;
        font-size:1.2em;
        margin-left:4px;
    }
    .cajaImg .cajaVenta__imgVenta{
        width:60%;
        margin-left:20%;
        margin-bottom:4%;
        padding:1vh;
    }
    .donde-estamos {
        padding:2vh
    }
    
}
@media screen and (min-width:441px) and (max-width:768px) {
    .cajaVenta .cajaVenta__titulos {
        font-size:1.3em;
        text-align:center;
        margin-left:0;
    }
}
/*mobile distribucion*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .cajaConsulta {
        line-height:1vh;
        padding:6vh 4vh 0vh 4vh;
        display:grid;
        grid-template-rows: repeat(2, 1fr);
        .imgJugo img {
            width:70%;
            margin-bottom:0px;
            margin-top:20px;
            box-shadow: 0em 0em 1em black;
        }
        .imgJugo .mojito {
            display:none;
        }
        h3 {
            font-size:1.2em;
            padding:0;
        }
        p {
            font-size:1em
        }
        .cajaConsulta__info {
            margin-top:0px;
            margin-bottom:10px;
        }
    }
    .distribucion {
        display:grid;
        grid-template-areas: 1000px 1000px;
    }
    .textoVehiculos {
        font-size:1em;
    }
    .tituloCiudades {
        padding:0;
        h2 {
            font-size:1.7em;
        }
        p {
            font-size:1em;
        }
    }
}

@media screen and (min-width:441px) and (max-width:768px) {
    .distribucion {
        display:grid;
        grid-template-areas: 1000px 1000px;
    }
    .textoVehiculos {
        font-size:0.9em;
    }
    .tituloCiudades {
        padding:0;
        h2 {
            font-size:1.7em;
        }
        p {
            font-size:1em;
        }
    }
    .cajaConsulta {
        line-height:1vh;
        padding:6vh 4vh 0vh 4vh;
        display:grid;
        grid-template-rows: repeat(2, 1fr);
        .imgJugo img {
            width:40%;
            margin-bottom:0px;
            margin-top:20px;
            box-shadow: 0em 0em 1em black;
        }
        .imgJugo .mojito {
            display:none;
        }
        h3 {
            font-size:1.2em;
            padding:0;
        }
        p {
            font-size:1.1em
        }
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .distribucion {
        display:grid;
        grid-template-areas: 1000px 1000px;
    }
    .camiones {
        width:50%;
        margin-left:25%;
    }
    .cajaConsulta {
        line-height:1vh;
        padding:18vh 4vh 0vh 4vh;
        height:500px;
        .imgJugo img {
            width:100%;
            box-shadow: 0em 0em 1em black;
        }
        h3 {
            font-size:1.2em;
            padding:0;
        }
        p {
            font-size:1.1em
        }
    }
}
/*mobile contacto*/
@media screen and (min-width:360px) and (max-width: 440px) {
    h1 {
        font-size:2em
    }
    .formulario {
        padding:8vh;
        .formulario__botonEnviar {
            margin-left: 25%;
            padding:4vh 2vh;
            width:50%;
            font-size:1em
        }
     textarea {
        margin-left:0
        }
        label {
            font-size:1em;
        }
    }
}
@media screen and (min-width:441px) and (max-width: 768px) {
    .formulario {
        padding:8vh;
        label {
            font-size:1.2em;
        }
        .formulario__botonEnviar {
            margin-left: 25%;
            padding:4vh 2vh;
            width:50%;
            font-size:1em
        }
     textarea {
        margin-left:0
        }
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .formulario {
        padding:4vh;
        label {
            font-size:1.2em;
        }
        .formulario__botonEnviar {
            font-size:1em;
            width:50%;
            margin-left:25%;
        }
    }
}
@media screen and (min-width:992px) and (max-width:1200px) { 
    .formulario label {
        font-size:1em;
    }
    .formulario .formulario__botonEnviar {
        margin-left: 25%;
        padding:2vh 2vh;
        width:50%;
        font-size:1em
    }
}



