.imgFooter {
    width: $w-20;
    margin-left:30%
}
.logo-redes {
    padding:1vh;
    background-color: #476b99; 
    border-radius:2vh;
    border-style: solid;
    border-color:black;
    width:8vh;
    margin-top:2em;
    margin-left:46%;
}
.logo-redes:hover {
    transform: scale(1.1,1.1);
}
.logosFooter {
    display: $display-flex;
    flex-direction:column;
}
#footerDiv1, #footerDiv2, #footerDiv3 {
    background-color: $fondo-nosotros;
    color:lightgray;
    padding:12vh 4vh 2vh 4vh;
    border-radius: 0%;
    border-color:#022859;
    height:500px;
    p span {
        font-size:1.6em;
        margin-right:1vh
    }
}
#footerDiv2 ul li {
    background-color: $fondo-nosotros;
    border-color:transparent;
    a {text-decoration:none;
        color:lightgray
    }
}
#footerDiv2 h4 {
    font-size:1.7em;
    font-family:sans-serif;
    font-weight:bold
}
#footerDiv3 h4 {
    font-size:1.7em;
    background-color: $fondo-nosotros;
    font-family:sans-serif;
    font-weight:bold;
    letter-spacing: normal;
    margin-top:14px
}
.menuFooter {
    background-color: $fondo-nosotros;
    font-size: $fontSizeMedium;
    font-family: $font-texto;
    letter-spacing:normal;
}

h5 {
    font-family:'Comic Neue', cursive;
    font-size:0.7em;
    background-color:rgb(32, 56, 100);
    color:white;
    letter-spacing:1px;
    a {
        text-decoration: none;
        color:white;
    }
    a:hover {
        color:rgb(143, 141, 141);
        font-weight:bold;
    }
}


/*mobile first*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .logosFooter {
        display:grid;
        grid-template-columns:33% 33% 33%
    }
    .logo-redes {
        margin-top:12vh
    }
    .imgFooter {
        width:24%;
        margin-left:10%;
        margin-top:8%;
        height:50%;
    }
    .textoFooter {
        margin-top:4%;
    }
    h4 {
        font-size:0.5em
    }
    #footerDiv1, #footerDiv2, #footerDiv3 {
        padding:0;
        height:260px;
    }
    #footerDiv2 {
        height:300px;
    }
    #footerDiv1 {
        display:flex;
        flex-direction:row;
        padding-top:3vh
    }
}

@media screen and (min-width:441px) and (max-width: 768px) {
    .imgFooter {
        width:24%;
        margin-left:10%;
        margin-top:12%;
        height:50%;
    }
    .textoFooter {
        margin-top:0%
    }
    .logosFooter {
        display: $display-flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .logo-redes {
        margin-top:3.2em;
        margin-bottom:0
    }
    #footerDiv1, #footerDiv2, #footerDiv3 {
        padding:0;
        height:260px;
    }
    #footerDiv2 {
        height:300px;
    }
    #footerDiv1 {
        display:flex;
        flex-direction:row;
    }
    .textoFooter {
        margin-top:10%;
    }
}

@media screen and (min-width:600px) and (max-width: 768px) {
    .imgFooter {
        width:fit-content
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .logosFooter {
        display: $display-flex;
        flex-direction:row;
        justify-content: space-around;
    }
    .textoFooter {
        margin-top:4%;
    }
    .logo-redes {
        margin-top:3em;
        margin-bottom:0;
        width:10vh;
    }
    .imgFooter {
        margin-left:10%;
        margin-top:2%;
       width:fit-content
    }
    #footerDiv1, #footerDiv2, #footerDiv3 {
        padding:0;
        height:220px;
    }
    #footerDiv1 {
        display:flex;
        flex-direction:row
    }
    #footerDiv2 {
        height:300px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .logo-redes {
        margin-right:0em;
        margin-left:11em;
        margin-top:1em;
        margin-bottom:1em
    }
    #footerDiv2 {
        padding-left:0;
        padding-right:0;
        h4 {
            font-size:1.4em;
            font-family:sans-serif;
            font-weight:bold
        }
        .list-group .list-group-item a {
            font-size:1em;
        }
    }
    #footerDiv1, #footerDiv2, #footerDiv3 {
        height:400px;
        border-color: $fondo-nosotros
    }
    

}
