.imgFooter {
    width: $w-20;
    margin-left:30%
}
.logo-redes {
    padding:1vh;
    background-color:#124c81;
    border-radius:2vh;
    width:8vh;
    margin-top:2em;
    margin-left:46%;
}
.logo-redes:hover {
    transform: scale(1.1,1.1);
}
.logosFooter {
    display: $display-flex;
    flex-direction:column;
}
#footerDiv1, #footerDiv2, #footerDiv3 {
    background-color: $fondo-nosotros;
    color:lightgray;
    padding:5vh 1vh 0vh 1vh;
    border-radius: 0%;
    border-color:#022859;
    height:400px;
    p span {
        font-size:1.6em;
        margin-right:1vh
    }
}
#footerDiv2 ul li {
    background-color: $fondo-nosotros;
    border-color:transparent;
    a {text-decoration:none;
        color:lightgray
    }
}
#footerDiv2 h4 {
    font-size:1.7em;
    font-family:sans-serif;
    font-weight:bold
}
#footerDiv3 h4 {
    font-size:1.7em;
    background-color: $fondo-nosotros;
    font-family:sans-serif;
    font-weight:bold;
    letter-spacing: normal;
    margin-top:14px
}
.menuFooter {
    background-color: $fondo-nosotros;
    font-size: $fontSizeMedium;
    font-family: $font-texto;
    letter-spacing:normal;
}
.pie__contactoTitle {
        color: $fondo-footer;
        padding:2vh;
        letter-spacing:10px;
        font-size:2em;
        font-weight:bold;
        text-transform: uppercase;
}
h5 {
    font-family:'Dosis', sans-serif;;
    font-size:0.7em;
    background-color:black;
    color:white;
    letter-spacing:0;
    a {
        text-decoration: none;
        color:white
    }
}


/*mobile first*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .logo-redes {
        margin-right:2em;
        margin-left:2.2em;
        margin-top:3em;
        margin-bottom:3em
    }
    .pie__contactoTitle {
        padding:1vh;
        letter-spacing:5px;
        font-size:1.3em
    }
    .imgFooter {
        width:20%;
        margin-left:10%;
    }
    h4 {
        font-size:0.5em
    }
}
@media screen and (min-width:441px) and (max-width: 768px) {
    .pie__contactoTitle {
        font-size:1.3em; 
        letter-spacing:3px
    }
    .imgFooter {
        width:20%;
        margin-left:0;
    }
    .logosFooter {
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
    .logo-redes {
        margin-right:1em;
        margin-left:5em;
        margin-top:3em;
        margin-bottom:3em
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    .logosFooter {
        display:grid;
        grid-template-columns: repeat(3,1fr);
    }
    .logo-redes {
        margin-right:1em;
        margin-left:5em;
        margin-top:3em;
        margin-bottom:3em
    }
    .imgFooter {
        margin-left:20%;
        width:30%
    }
    #footerDiv1 {
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .logo-redes {
        margin-right:1em;
        margin-left:2em;
        margin-top:8em;
        margin-bottom:2em
    }
}
