nav {
    background-color:#022859; 
    height:8vh;
    .navA .nav-item .nav-link {
        color:white;
        text-decoration:none;
        font-family: 'Comic Neue', cursive;
        font-size:1.2em;
        margin-left:22px;
        font-weight:300;
        text-transform:uppercase;
        background: linear-gradient(red, red);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        .nav-link:hover, .nav-link:focus {
            background-size: 100% 2px;
        }
    }
}

#divMenu {
    display:flex;
}
.logoMenu {
    padding:0vh 1vh 0vh 1vh;
    width:100%;
    height:114px;
    background-color: #022859;
    border-color: transparent;
}
.divLogo {
    width:12%;
    img {
        width:100%;
        margin-top:15px;
    }
}
.cajaNav__lista {
    list-style: none;
    font-family: 'Comic Neue', cursive;
    font-size: 0.5em;
    color: lightgray;
    .cajaNav__hielosNav {
        font-family: 'Comic Neue', cursive;
        font-size:3em;
        font-weight:bold;
        color:lightgray;
        margin-top:4px
    }
}
.cajaNav__info {
    font-family: 'Comic Neue', cursive;
    font-size: 1.7em;
    color: lightgray;
    span {
        font-size:2.5vh;
        margin-right:1vh;
        margin-bottom:2vh
    }
}

.carousel-inner {
    width:$w-100;
    height: ($h-200 + 100px) * 2
}
.boton {
    background-color: #022859;
    border-color: lightgray;
    padding:1vh;
    a {
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        font-size:0.8em
    }
} 
/*Mobile first*/
@media screen and (min-width:360px) and (max-width: 440px) {
    .imgHome {
        width:30%
    }
    nav {
        height:40vh;
        .navA {
            background-color: $fondo-nav;
            z-index: 1;
            width:100%;
            padding:5vh 24vh 5vh 24vh;
            .nav-item .nav-link {
                font-size:0.5em
            }
        }

    }
    #divMenu {
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
    }
    .navA .nav-item .nav-link {
        font-size:0.5em
    }
    .cajaNav__hielosNav {
        font-size:0.9em; 
        font-weight:bold
    }
    .boton {
        display:none
    }
    .carousel-inner {
        height:10%;
    }
}

@media screen and (min-width:441px) and (max-width: 768px) {
    nav {
        height:50vh
    }
    #divMenu {
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
    }
    .imgHome {
        width:20%;
    }
    .cajaNav__hielosNav {
        font-size:1em
    }
    .titulo__quienes  {
        padding:1vh
    }
    .carousel-inner {
        height:40%
    }
}
@media screen and (min-width:769px) and (max-width:991px) {
    nav {
        height:34vh
    }
    .imgHome {
        width:56%
    }
    #divMenu {
        display:grid;
        grid-template-columns:600px 400px;
    }
    .titulo__quienes {
        padding:2vh
    }
    .carousel-inner {
        height:40%
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    nav {
        height:28vh;
        .navA .nav-item .nav-link {
            font-size:1em;
            margin-left:5px;
            margin-right:50px;
            padding-right:50%
        }
    }
    .cajaNav__hielosNav {
        font-size:1em
    }
}
@media screen and (min-width:1201px) {
    nav {
        height:17vh;
        .navA .nav-item .nav-link {
            font-size:1.2em
        }
    }
    .imgHome {
        width:77%;
        margin-top:1vh
    }
    .cajaNav__hielosNav {
        font-size:1.4em
    }
    .boton {
        padding:0.5vh;
    }
}